/* === ESTILOS GENERALES === */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f2f2f2;
  color: #333;
}

/* === HEADER === */
header {
  text-align: center;          /* centra h1 y p */
  background: #e88be0;
  color: white;
  padding: 40px 20px 20px;     /* espacio extra arriba para el nav */
  position: relative;
}

header h1 {
  margin: 0;
}

header p {
  margin: 5px 0 0;
}

/* NAV arriba a la derecha */
header nav {
  position: absolute;
  top: 10px;
  right: 20px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;      /* activa el Flexbox para organizar los enlaces en fila */
  gap: 15px;          /* espacio entre cada enlace */
  justify-content: center; /* me centra los enlaces en horizontal */
}

header nav a {
  color: white;
  text-decoration: none;
}

/* === MAIN === */
main {
  padding: 20px;
}

/* === TARJETAS === */
.tarjetas {
  display: flex;              /* Activa Flexbox en el contenedor de tarjetas */
  flex-wrap: wrap;            /* Hace que las tarjetas bajen a la siguiente fila si no caben */
  justify-content: center;    /* Centra todas las tarjetas en el medio */
  gap: 15px;                  /* Deja espacio entre tarjetas */
  padding: 20px;
}


.tarjeta {
  background: white;
  border-radius: 8px;
  padding: 10px;
  width: 220px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.tarjeta img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.tarjeta h3 {
  margin: 5px 0;
}

/* === FOOTER === */
footer {
  background: #e88be0;
  color: white;
  text-align: center;
  padding: 10px;
}
